extends ../widget/template.pug

block content
	#index.page
		form(method='POST', action="/disambiguated/"+scene)
			table(id='vocabulary', cellspacing=20, cellpadding=0)
				tr 
					th="Line #"
					th="Word (Original)"
					th="Root (Analyzed)"
					th="Definitions"
					th="English"
					th="Japanese"
				- let i = 0;
				while i < lines.length
					- let line = lines[i];
					tr(class='entry')
						td(class='line')
							div.ff7=i
						td(class='word')
							div.ff7=line.word
						td(class='root')
							div.ff7=line.root
						td(class='definitions')
							table.ff7(width='100%')
								- let j = 0;
								while j < line.definitions.length
									- let def = line.definitions[j];
									tr
										td(class='radio', valign='middle')
											if j === 0
												input(type='radio', name=i, checked="checked", value=j)
											else
												input(type='radio', name=i, value=j)
										td(class='definition', valign='middle')=def
									- j++;
								tr
									td(class='radio')
										input(type='radio', name=i, value="-1")
									td(class='definition', valign='middle')
										b.
											REMOVE
						td(class='english')
							div.ff7=line.english
						td(class='japanese')
							- let split = line.japanese.split(/[\[\]]/);
							div.ff7.
								#{split[0]}
								<span class='highlight'>#{split[1]}</span>
								#{split[2]}
					- i++;
			input(type='submit', class='submit ff7')